<div class="main-card">
	<!-- <h1>questions#show</h1> -->
	<br>
	<%= simple_form_for([@survey, @submission, @question, @answer], data: { turbo: :false }) do | f | %>

		<%# Counter %>
		<h5>Question <%= @question.position %> out of <%= @survey.questions.count %></h5>
		<br>

		<!-- Question -->
		<h4><%= @question.content %></h4>

		<!-- Moderation -->
		<% if @question.moderation.present? %>
			<p><%= @question.moderation %></p>
		<% end %>

		<%= f.input :content,
					as: @question.question_type?,		
					label: false,
					hint: @question.hint %>
		
		<!-- Errors -->
		<% if @answer.errors.any? %>
			<% @answer.errors.full_messages.each do |error| %>
			<p><%= error %></p>
			<% end %>
		<% end %>

		<!-- Submit Button -->

		<!-- Previous Button -->
		<% if @question.previous_question.present? %>
			<%= link_to "Previous", survey_submission_question_path(@survey, @submission, @previous_question), class: "btn-ghost" %>
		<% end %>

		<!-- Next Button -->
		<% if @question.next_question.nil? %>
			<%= f.submit "Finish", class: "btn-ghost" %>
		<% else %>
			<%= f.submit "Next", class: "btn-ghost" %>
		<% end %>

		<!-- To Submission -->
		<% unless @question.next_question.nil? %>
			<%= link_to "Overview Submission", survey_submission_path(@survey, @submission),class: "btn-ghost" %>
		<% end %>
	<% end %>
</div>
