<%= turbo_frame_tag nested_dom_id(:description, recipe) do %>

  <h4><%= recipe.name %></h4>
        
  <% if recipe.description.nil? || recipe.description == "" %>
    <%= render "recipes/descriptions/empty_state" %>
  <% else %>
    <p><%= recipe.description %></p>
  <% end %>
        
  <%# EDIT DESCRIPTION BUTTON %>
  <% if policy(recipe).update? %>
    <div class="flex-end">
      <%= link_to edit_recipe_description_path(recipe), 
        class: "btn btn-ghost btn-coral",
        data: { turbo_frame: nested_dom_id(:description, recipe) } do %>
        <%= Icon.call("edit") %>
        description
      <% end %>
    </div>
  <% end %>

<% end %>
    