<h4>Sign up</h4>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="main-card">
      <h4>log in details</h4>
      <br>
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
    </div>

    <div class="main-card">
      <h4>Profile</h4>
      <br>
      <%= f.input :first_name,
                  hint: "optional" %> 
      <%= f.input :last_name, 
                  hint: "optional" %> 
      <%= f.input :username,
                  required: true %>
      <%= f.input :show_username,
                  hint: "check if you want to show only your username, instead of your full name" %>
      <div class="form-actions">
        <%= f.button :submit, "sign up", class: "btn btn-ghost" %>
      </div>
    </div>
  </div>

<% end %>
<br>
<br>
<p>Already a user?</p>

<%= render "devise/shared/links" %>
