<div id="<%= dom_id comment %>" class="comment">

  <div class="user-avater-comment">
    <%= link_to user_path(comment.user) do %>
      <% if comment.user.avatar.attached? %> 
        <%= cl_image_tag comment.user.avatar.key, :transformation=>[
          {:width=>200, :height=>200, :gravity=>"face", :radius=>"max", :crop=>"thumb"}], 
          class: "card-recipe-user avatar", 'aria-haspopup': true, 'aria-expanded': false %>
      <% else %>
        <%= image_tag "default_avatar_square.png", class: "card-recipe-user avatar", alt: "avatar", 'aria-haspopup': true, 'aria-expanded': false %>
      <% end %>
    <% end %>
  </div>
  <div class="user-comment ingredient-show">
    <p>
    <%= comment.content %>
    <small style="font-style: italic;">- <%= time_tag comment.created_at, "data-local": "time-ago" %></small>
    </p>
  </div>
  <div class="comment-actions">
    <% if policy(@comment).update? %>
      <%= button_to edit_recipe_comment_path(comment.recipe, comment), method: :post, class: "btn-styling" do %>
        <i class="show-icon fas fa-edit"></i>
      <% end %>
    <% end %>

    <% if policy(@comment).destroy? %>
      <%= button_to recipe_comment_path(comment.recipe, comment), method: :delete, class: "btn-styling" do %>
        <i class="show-icon fas fa-trash-alt"></i>
      <% end %>
    <% end %>
  </div>
</div>