<div id="comment_<%= comment.id %>" class="comment">

  <div class="user-avater-comment">
    <%= link_to user_path(comment.user) do %>
      <% if comment.user.avatar.attached? %> 
        <%= cl_image_tag comment.user.avatar.key, :transformation=>[
          {:width=>200, :height=>200, :gravity=>"face", :radius=>"max", :crop=>"thumb"}], 
          class: "card-recipe-user avatar", 'aria-haspopup': true, 'aria-expanded': false %>
      <% else %>
        <%= image_tag "default_avatar_square.png", class: "card-recipe-user avatar", alt: "avatar", 'aria-haspopup': true, 'aria-expanded': false %>
      <% end %>
    <% end %>
  </div>
  <div class="user-comment ingredient-show">
    <p>
    <%= comment.content %>
    - <%= time_tag comment.created_at, "data-local": "time-ago" %>
    </p>
  </div>
    
</div>