<%= content_tag :div, class: "nested-fields", data: { new_record: form.object.new_record? } do %>
  <div class="form-inputs inline-form main-card ingredient-card">
    <%= form.input  :amount,
                    as: :integer, 
                    label: false, 
                    class: "form-input amount", 
                    placeholder: "amount",
                    step: :any
                    %>
    <%= form.input  :measurement, 
                    label: false, 
                    class: "form-input measurement", 
                    collection: Ingredient::MEASUREMENTS
                    %><p class="of">of</p>
    <%= form.input  :name,
                    label: false, 
                    class: "form-input name",
                    placeholder: "ingredient" 
                    %>

    <div class="remove"><%= link_to "Remove", "#", data: { action: "click->nested-form#remove_association" } %></div>
  </div>
  <%= form.hidden_field :_destroy %>
<% end %>