<div class="main-card">
  <%= simple_form_for(@recipe) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div id="edit-recipe" class="edit-form">
      <%= render "recipe_form", f: f %>
    </div>
    
    <div id="edit-ingredients" class="edit-form">
      <%= render "ingredients_form", f: f %>
    </div>

    <div id="edit-instructions" class="edit-form">
      <%= render "instructions_form", f: f %>
    </div>

    <br>
    <div class="action-btns">
      <%= f.button :submit, class: "btn-ghost btn-green" %>
      <%= link_to "Delete recipe", recipe_path(@recipe), data: { confirm: "Are you sure?" }, method: :delete, class: "btn-ghost btn-coral btn-delete" %>
    </div>
  <% end %>
</div>
 