  <%#= simple_form_for(@recipe, data: { turbo_frame: :_top }) do |f| %>
  <%#= simple_form_for(@recipe) do |f| %>
<%= simple_form_for(@recipe, data: { turbo: :false }) do |f| %>
  <div class="main-card">

    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  
    <div id="edit-recipe" class="edit-form">
      <%= render "recipe_form", f: f %>
      <br>
      <div class="save-recipe">
        <%= f.button :submit, "✓ Save recipe", class: "btn-ghost btn-green" %>
      </div>  
    </div>
    
    <div id="edit-ingredients" class="edit-form">
      <%= render "ingredients_form", f: f %>
      <br>
      <div class="save-recipe">
        <%= f.button :submit, "✓ Save recipe", class: "btn-ghost btn-green" %>
      </div>
    </div>

    <div id="edit-instructions" class="edit-form">
      <%= render "instructions_form", f: f %>
      <br>
      <div class="save-recipe">
        <%= f.button :submit, "✓ Save recipe", class: "btn-ghost btn-green" %>
      </div>
    </div>

  </div>  
<% end %>
 