<h4>Recipe description</h4>
<br>
<div class="form-inputs">
  <%= f.input :name %>
  <%= f.input :description %>
  <div class="image-upload" data-controller="photo-preview">
      <%= f.input :photo, 
                  input_html: { class: 'd-none', data: { action: "click->photo-preview#photo_input", photo_preview_target: "photoInput" } }, 
                  label_html: { class: 'btn-ghost btn-coral' }, 
                  label: '📷 Upload a photo',
                  hint: "You can also do this later" %>
      <% if @recipe.photo.attached? %>
        <%= cl_image_tag current_user.avatar.key, :transformation=>[
            # {:width=>300, :height=>300},
            {:width=>300, :crop=>"scale"}] %>
        <% else %>
          <%= image_tag "", width: 300, class: "hidden", id: "photo-preview", data: { photo_preview_target: "photoPreview" } %>
        <% end %>

  </div>

  <%#= f.input :photo, 
              as: :file,
              hint: "You can also do this later" %>
</div>