<div class="recipe-card">

  <%= link_to recipe_path(recipe) do %>
    <%= image_tag "sample_meal.jpg", class: "card-image" %>
  <% end %>

  <div class="card-overlay">

    <div class="card-header">

      <%= link_to user_path(recipe.user) do %>
        <% if recipe.user.avatar.attached? %> 
          <%= cl_image_tag recipe.user.avatar.key, :transformation=>[
            {:width=>200, :height=>200, :gravity=>"face", :radius=>"max", :crop=>"thumb"},
            {:width=>200, :crop=>"scale"}], 
            class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% else %>
          <%= image_tag "default_avatar_square.png", class: "avatar dropdown-toggle", id: "navbarDropdown", alt: "avatar", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% end %>
      <% end %>

      <%= link_to recipe_path(recipe) do %>
        <div class="card-header-text">
          <h3 class="card-title"><%= recipe.name %></h3>
          <span class="card-status">by <%= recipe.user.username %></span>
        </div>
      <% end %>

    </div>

    <%= link_to recipe_path(recipe) do %>
      <p class="card-description"><%= recipe.description %></p>
    <% end %>

  </div>

</div>