<p id="notice"><%= notice %></p>

<div class="main-card recipe">
  
  <%# PHOTO %>
  <div class="photo-show">
    <% if @recipe.photo.attached? %>
      <%= cl_image_tag @recipe.photo.key, :transformation=>[
        {:width=>200, :height=>200, :crop=>"thumb"},
        {:width=>200, :crop=>"scale"}], 
        class: "card-image" %>
    <% else %>
      <%= image_tag "sample_meal.jpg", class: "card-image", :width=>200 %>
    <% end %>
  </div>

  <%# DESCRIPTION %>
  <div class="description-show">
    <p>
      <h4><%= @recipe.name %></h4><br>
      <%= @recipe.description %>
    </p>
    <% if policy(@recipe).update? %>
      <br>
      <%= link_to 'Edit description', edit_recipe_path(@recipe, anchor: "edit-recipe"), class: "btn btn-ghost btn-coral" %>
      <%# OLD LINK TO WIZARD %>
      <%#= link_to 'Edit description', recipe_step_path(@recipe, :recipe), class: "btn btn-ghost btn-coral" %>
    <% end %>
  </div>
</div>

<%# INGREDIENTS %>
<div class="main-card">
  <h4>Ingredients</h4>
  <p>Ingredients serve <strong><%= @recipe.serves %></strong> <%= @recipe.serves == 1 ? "person" : "persons" %></p><br>
  <% @recipe.ingredients.each do |ingredient| %>
    <div class="ingredient-show">
      <p>
        <%= ingredient.description %>
      </p>
    </div>
  <% end %>
  <% if policy(@recipe).update? %>
    <br>
    <%= link_to 'Edit ingredients', edit_recipe_path(@recipe, anchor: "edit-ingredients"), class: "btn btn-ghost btn-coral" %>
  <% end %>
</div>

<%# INSTRUCITONS %>
<div data-controller="nested-form" class="main-card">
  <h4>Instructions</h4><br>
  <% @recipe.instructions.each do |instruction| %>
    <div data-nested-form-target="inputElement" class="ingredient-show">
      <div class="counter"><h4></h4></div>
      <div class="instruction-description"><p>
        <%= instruction.description %>
      </p>
      </div>
    </div>
  <% end %>
  <% if policy(@recipe).update? %>
    <br>
    <%= link_to 'Edit instructions', edit_recipe_path(@recipe, anchor: "edit-instructions"), class: "btn btn-ghost btn-coral" %>
  <% end %>
</div>
<br>
<% if policy(@recipe).update? %>
  <%= link_to 'Edit recipe', edit_recipe_path(@recipe), class: "btn-ghost" %>
<% end %>
<%= link_to 'Back to recipes', recipes_path, class: "btn-ghost" %>


