<div class="recipe-card profile">
  
  <%= link_to recipe_path(recipe) do %>
    <% if recipe.photo.attached? %>
      <%= cl_image_tag recipe.photo.key, :transformation=>[
        {:width=>200, :height=>200, :crop=>"thumb"},
        {:width=>200, :crop=>"scale"}], 
        class: "card-image" %>
    <% else %>
      <%= image_tag "sample_meal.jpg", class: "card-image profile", :width=>200 %>
    <% end %>
  <% end %>

  <div class="card-overlay profile">

    <div class="card-header header-profile">

      <%= link_to recipe_path(recipe) do %>
        <div class="card-header-text header-profile">
          <h4 class="card-title"><%= recipe.name %></h4>
          <%# <span class="card-status">1 hour ago</span> %>
        </div>
      <% end %>

    </div>

    <%= link_to recipe_path(recipe) do %>
      <p class="card-description"><%= recipe.description %></p>
    <% end %>

  </div>

</div>