<div class="card-recipe profile">
  
  <%= link_to recipe_path(recipe) do %>
    <% if recipe.photo.attached? %>
      <%= cl_image_tag recipe.photo.key, :transformation=>[
      {:width=>800, :height=>800}], 
      class: "card-image" %>
    <% else %>
      <%= image_tag "sample_meal.jpg", class: "card-image" %>
    <% end %>

  <div class="profile-recipe-infos">
    <h2><%= highlight(recipe.name, query_array) %></h2>
    <p><%= highlight(recipe.description, query_array) %></p>
  </div>
  <% end %>

</div>