<%# METADATA %>
<% content_for :meta_title, "#{@user.username} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, "Check out their latest recipes." %>
<% if @user.avatar.attached? %>
  <% content_for :meta_image, cl_image_path(@user.avatar.key) %>
<% else %>
  <% content_for :meta_image, cl_image_path("default_avatar_square.png") %>
<% end %>

<%# /METADATA %>

<h4 class="title-profile">
  <% if current_user == @user %>
    Your profile
  <% else %>
    <%= @user.username %>
  <% end %>
</h4>
<br>

<div class="pc-tab">
<input checked="checked" id="tab1" type="radio" name="pct" />
<input id="tab2" type="radio" name="pct" />
<input id="tab3" type="radio" name="pct" />
  <nav>
    <ul>
      <%# USER'S RECIPES TAB %>
      <li class="tab1">
        <label for="tab1">Recipes</label>
      </li>
      
      <%# SAVED RECIPES TAB %>
      <li class="tab2">
        <label for="tab2">Saved recipes</label>
      </li>
      
      <%# PROFILE TAB %>
      <li class="tab3">
        <label for="tab3">Profile</label>
      </li>
    </ul>
  </nav>
  <section>

    <%# USER'S RECIPES TAB %>
    <div class="tab1">
      <h4>
        <%= current_user == @user ? "Your recipes" : "#{@user.username.possessive} recipes"%>
      </h4>
      <div class="index-grid grid-profile">
        <% @user.recipes.each do |recipe| %>
          <%= render "users/profile_recipes", recipe: recipe %>
        <% end %>      
      </div>
    </div>

    <%# SAVED RECIPES TAB %>
    <div class="tab2">
      <h4>Saved recipes</h4>
      <br>
      <p>
        <%= current_user == @user ? "You have not saved any recipes yet" : "#{@user.username} has not saved any recipes yet"%>
      </p>
    </div>

    <%# PROFILE TAB %>
    <div class="tab3">
      <h4>Profile</h4>
      <br>
      <%# AVATAR %>
      <% if @user.avatar.attached? %>
        <%= cl_image_tag @user.avatar.key, :transformation=>[
          {:width=>300, :height=>300, :gravity=>"face", :radius=>"max", :crop=>"thumb"}], 
          class: "avatar avatar-very-large" %>
      <% else %>
        <%= image_tag "default_avatar_square.png", class: "avatar avatar-very-large" %>
      <% end %>
      <br><br>

      <%# PROFILE DETAILS %>
      <p><strong>Username:</strong> <%= @user.username %></p>
      <% if @user == current_user || @user.show_username == false || current_user.admin? %>
        <p><strong>Name:</strong> <%= @user.full_name %><%= policy(@user).update? ? " (name public: #{@user.show_username})" : "" %></p>
      <% end %>

      <%# PUNDIT UPDATE %>
      <% if policy(@user).update? %>
        <p><strong>Email:</strong> <%= @user.email %></p>
        <%= link_to "Edit profile", edit_user_registration_path, class: "btn btn-ghost" %>
      <% end %>
    </div>
  </section>
</div>