<%= simple_form_for [ingredient.recipe, ingredient] do |f| %>
  <div class="justify-space-between ingredient-show">
    <%= form_error_notification(ingredient) %>
    <%= f.input :description,
        as: :text,
        label: false,
        input_html: { data: { controller: "textarea-autogrow" } } %>
  
    <div class="flex-end item-actions">
      <%= link_to recipe_path(ingredient.recipe) do %>
        <%= Icon.call("cross") %>
      <% end %>
      <button name="button" type="submit" class="btn-styling">
        <%= Icon.call("tick") %>
      </button>
    </div>
  </div>
<% end %>