<h4>Ingredients</h4>
    
<%= turbo_frame_tag nested_dom_id(:serves, recipe) do %>
  <div class="justify-space-between">
    <div>Ingredients serve <strong><%= recipe.serves ? recipe.serves : "not sure how many" %></strong> <%= recipe.serves == 1 ? "person" : "persons" %></div>
        
    <% if policy(recipe).update? %>
      <%= link_to edit_recipe_serves_path(recipe), class: "btn btn-ghost btn-coral" do %>
        <%= Icon.call("edit") %>
        serves
      <% end %>
    <% end %>
  </div>
<% end %>

<div data-controller="toggle-actions">
  <div id="ingredients" data-controller="positions">
    <%= render recipe.ingredients %>
    <%= render "recipes/ingredients/empty_state" %>
  </div>
  <%= turbo_frame_tag Ingredient.new %>
      
  <% if policy(recipe).update? %>
    <div class="flex-end">
      <%= link_to new_recipe_ingredient_path(recipe), 
          class: "btn btn-ghost btn-coral",
          data: { 
            turbo_frame: dom_id(Ingredient.new),
            "toggle-actions-target": "actions" 
          } do %>
        + add
      <% end %>

      <%= link_to "#", 
          class: "btn btn-ghost btn-coral", 
          data: { action: "click->toggle-actions#toggle" } do %>
        <%= Icon.call("edit") %>
        ingredients
      <% end %>
    </div>
  <% end %>
</div>