<%= simple_form_for [instruction.recipe, instruction], html: { class: "justify-space-between ingredient-show" } do |f| %>
  
  <div>
    <%= form_error_notification(instruction) %>
    <%= f.input :description,
        as: :text,
        label: false,
        input_html: { data: { controller: "textarea-autogrow" } } %>
  </div>

  <div class="item-actions">
    <%= link_to recipe_path(instruction.recipe) do %>
      <%= Icon.call("cross") %>
    <% end %>
    <button name="button" type="submit" class="btn-styling">
      <%= Icon.call("tick") %>
    </button>
  </div>
  
<% end %>