<h1>submissions#index</h1>
<ul>
	<% @submissions.each do | submission | %>
		<li>
			Id: <%= submission.id %> - 
			<%= submission.description_short %> |
			<%= link_to "show", submission_path(submission) %> |
			<%= link_to "delete", submission_path(submission), 
					method: :delete,
				  data: { confirm: "Are you sure you want to delete #{submission.description_short}?" }
					%>
			</li>
	<% end %>
</ul>
<br>

<h4>Create a new submission</h4>
<%= simple_form_for(@submission, data: { turbo: :false }) do |f| %>
  <div class="form-group">
  <%= f.input :description_short, label: "Name/short description for your new submission" %>
  </div>
  <%= f.button :submit, class: "btn btn-secondary" %>
<% end %>

<h4>Create a new survey user</h4>
<%= simple_form_for(@survey_user, data: { turbo: :false }) do |f| %>
	<div class="form-group">
	<%= f.input :email, label: "Survey user email address" %>
	</div>
	<%= f.button :submit, class: "btn btn-secondary" %>
<% end %>
