<h1>Submission: <%= @submission.email %></h1>
	<div class="main-card">
	<br>
		<% if @submission.answers.any? %>
			<h4>Your submission</h4>
			<br>
			<div>
				<% @submission.survey.questions.each do | question | %>
					<p class="question">
						<strong><%= question.position %>. <%= question.content %></strong>
						<%= link_to "Go to question", survey_submission_question_path(@submission.survey, @submission, question) %>	
					</p>
					<p class="answer">
						<% if @submission.answers.find_by(question: question) %>
							<%= @submission.answers.find_by(question: question).content %>
						<% else %>
							Not (yet) answered..
						<% end %>
					</p>
				<% end %>
			</div>
		<% else %>
			<p>No submission started yet</p>
		<p><% end 
		%>
		<br>
		<%= link_to "Back to survey", survey_submission_question_path(@submission.survey, @submission, @submission.survey.questions.first), class: "btn-ghost" %>
		<br><br>
		<%= link_to "Submit your answers", root_path, class: "btn-ghost btn-green" %>
		<br><br>
	</div>
	<br>
<%= link_to "Submissions", survey_path(@submission.survey), class: "btn-ghost" %>