<%# METADATA %>
<% content_for :meta_title, "#{@recipe.name} - #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @recipe.description %>
<% if @recipe.photo.attached? %>
  <% content_for :meta_image, cl_image_path(@recipe.photo.key) %>
<% else %>
  <% content_for :meta_image, cl_image_path("sample_meal.jpg") %>
<% end %>
<%# /METADATA %>

<div class="narrow-container">
  <%= render "recipes/recipes/action_btns", recipe: @recipe, location: :top %>

  <div class="main-card recipe">    
    <%# PHOTO %>
    <%= render "recipes/photos/show", recipe: @recipe %>

    <%# DESCRIPTION %>
    <%= render "recipes/descriptions/show", recipe: @recipe %>
  </div>

  <%# INGREDIENTS %>
  <div class="main-card">
    <%= render "recipes/ingredients/ingredients", recipe: @recipe %>
  </div>

  <%# INSTRUCTIONS %>
  <div class="main-card">
    <%= render "recipes/instructions/instructions", recipe: @recipe %>
  </div>

  <div class="main-card">
    <%= render "recipes/comments/show", recipe: @recipe %>
  </div>

  <br>
  <%= render "recipes/recipes/action_btns", recipe: @recipe, location: :bottom %>
</div>  
