<%# METADATA %>
<% content_for :meta_title, "#{@recipe.name} - #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @recipe.description %>
<% if @recipe.photo.attached? %>
  <% content_for :meta_image, cl_image_path(@recipe.photo.key) %>
<% else %>
  <% content_for :meta_image, cl_image_path("sample_meal.jpg") %>
<% end %>
<%# /METADATA %>

<div class="narrow-container">
  <%= render "recipes/recipes/action_btns", recipe: @recipe, location: :top %>

  <div class="main-card recipe">
    
    <%# PHOTO %>
    <div class="photo-show">
      <% if @recipe.photo.attached? %>
        <%= cl_image_tag @recipe.photo.key, :transformation=>[
          {:width=>800, :height=>800}], 
          class: "card-image" %>
      <% else %>
        <%= image_tag "sample_meal.jpg", class: "card-image", :width=>200 %>
      <% end %>
    </div>

    <%# DESCRIPTION %>
    <%= render "recipes/descriptions/description", recipe: @recipe %>
  </div>

  <%# INGREDIENTS %>
  <div class="main-card">
    <%= render "recipes/ingredients/ingredients", recipe: @recipe %>
  </div>

  <%# INSTRUCTIONS %>
  <div class="main-card">
    <%= render "recipes/instructions/instructions", recipe: @recipe %>
  </div>

  <div class="main-card">
    <h4>New comment</h4>
    <% if user_signed_in? %>
      <%= turbo_frame_tag Comment.new, src: new_recipe_comment_path(@recipe), target: :_top %>
    <% else %>
      <p>
        <strong><%= link_to "Sign up", new_user_registration_path %></strong> or <strong><%= link_to "login", new_user_session_path %></strong> to comment
      </p>
    <% end %>
    
    <h4>Comments</h4>
    <div id="comments">
      <%= render @recipe.comments.order(created_at: :desc) %>
    </div>
  </div>

  <br>
  <%= render "recipes/recipes/action_btns", recipe: @recipe, location: :bottom %>
</div>  
