<h1>Surveys</h1>
<div class="main-card">
<br>
  <% @surveys.each do | survey | %>
    <div class="ingredient-show">
      <p> 
      Id: <%= survey.id %> - 
      <%= survey.name %> |
      <%= link_to "show", survey_path(survey) %> |
      <%= link_to "delete", survey_path(survey), 
          method: :delete,
          data: { confirm: "Are you sure you want to delete #{survey.name}?" }
          %>
      </p>
    </div>
  <% end %>
  <br>

  <h4>Create a new survey</h4>
  <%= simple_form_for(@survey, data: { turbo: :false }) do |f| %>
    <div class="form-group">
      <%= f.input :name, label: "Name for your new survey" %>
    </div>
    <%= f.button :submit, class: "btn-ghost" %>
  <% end %>
  <br>
</div>
