<h1>Surveys</h1>
<div class="main-card">
<br>
  <% @surveys.each do | survey | %>
    <div class="ingredient-show">
      <p> 
      <%= survey.name %> |
      <%= link_to "Edit", edit_survey_path(survey) %> |
      <%= link_to "Show", survey_path(survey) %> |
      <%= link_to "Delete", survey_path(survey), 
          data: {
            turbo_method: :delete,
            turbo_confirm: "Are you sure you want to delete #{survey.name}?",
            "data-turbo-frame": "_top"
          }
          %>
      </p>
    </div>
  <% end %>
  <br>

  <h4>Create a new survey</h4>
  <%= simple_form_for(@survey, data: { turbo: :false }) do |f| %>
    <div class="form-group">
      <%= f.input :name, label: "Name for your new survey" %>
    </div>
    <div class="form-group">
      <%= f.input :description,
                  as: :rich_text_area,
                  label: "Description shown at new submissions" %>
    </div>
    <%= f.button :submit, class: "btn-ghost" %>
  <% end %>
  <br>
</div>
