<h1>Survey: <%= @survey.name %></h1>
<div class="main-card">
  <br>
  <div class="align-right">
    <%= link_to "Survey questions", survey_questions_path(@survey), class: "btn-ghost" %>
  </div>

  <% if @survey.submissions.any? %>
    <h4>Current state of your survey</h4>
    
      <% @survey.submissions.each do | submission | %>
        <div class="ingredient-show">
          <p>
            <%= submission.description_short %> |
            <%= link_to "Show", survey_submission_path(@survey, submission) %> |
            <%= link_to "Do survey", survey_submission_question_path(@survey, submission, @survey.questions.first) %>	
          </p>
        </div>
      <% end %>
    
  <% else %>
    <p>No submissions yet</p>
  <% end %>
  <br>
  <br>
  <br>
  <br>
  <%= simple_form_for([@survey, @submission], data: { turbo: :false }) do |f| %>
    <div class="form-group">
      <%= f.input :description_short, label: "Name for your new submission" %>
    </div>
    <%= f.button :submit, class: "btn-ghost" %>
  <% end %>
</div>
  <br>
  <%= link_to "Surveys", surveys_path, class: "btn-ghost" %>