<div class="question-card">
	<!-- <h1>questions#show</h1> -->
	<br>
	<%#= simple_form_for([@submission, @question, @answer], data: { turbo: :false }) do | f | %>
	<%#= simple_form_for :url => surveys_submission_question_answer_path(@submission, @question, @answer) do |f| %>

	<%= form_with model: [:surveys, @submission, @question, @answer] do |f| %>
		
		<!-- Title -->
		<% if @question.title.present? %>
			<h1><%= @question.title %></h1>
		<% end %>

		<!-- Moderation -->
		<% if @question.moderation.present? %>
			<p><%= @question.moderation %></p>
		<% end %>

		<!-- Input -->
		<% if @question.input_hidden %>
			<%= f.input :content, as: :hidden	%>
		<% else %>
			<%= f.input :content,
						as: @question.question_type?,		
						label: @question.content,
						hint: @question.hint %>
		<% end %>
		
		<!-- Errors -->
		<% if @answer.errors.any? %>
			<% @answer.errors.full_messages.each do |error| %>
			<p><%= error %></p>
			<% end %>
		<% end %>

		<!-- Submit Button -->

		<!-- Previous Button -->
		<% if @question.previous_question.present? %>
			<%= link_to "Previous", surveys_submission_question_path(@submission, @previous_question), class: "btn btn-secondary" %>
		<% end %>

		<!-- Next Button -->
		<% if @question.next_question.nil? %>
			<%= f.submit "Finish", class: "btn btn-success" %>
		<% else %>
			<%= f.submit "Next", class: "btn btn-secondary" %>
		<% end %>

	<% end %>
</div>
