<%= turbo_frame_tag nested_dom_id(:serves, @recipe) do %>
  <%= simple_form_for @recipe do |f| %>
    <div class="justify-space-between">
      <%= form_error_notification(@recipe) %>
      <%= f.input :serves %>
      
      <div class="flex-end item-actions">
        <%= link_to recipe_path(@recipe) do %>
          <%= Icon.call("cross") %>
        <% end %>
        <button name="button" type="submit" class="btn-styling">
          <%= Icon.call("tick") %>
        </button>
      </div>
    </div>
  <% end %>
<% end %>