<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">    
    <script async src="https://www.googletagmanager.com/gtag/js?id=GTM-MCMNLVP" data-turbo-track="reload" async></script>
    
    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Facebook Open Graph data -->
    <%= render 'shared/facebook_open_graph_data' %>
    <!-- Twitter Card data -->
    <%= render 'shared/twitter_card_data' %>  

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= javascript_include_tag "https://challenges.cloudflare.com/turnstile/v0/api.js", "data-turbo-track": "reload", defer: true %>
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css">
    <script defer data-domain="goormey.com" src="https://plausible.io/js/script.js"></script>
    <script src="https://kit.fontawesome.com/649ff54fcc.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= render 'shared/analytics' %>
    
    <%= render 'shared/navbar' %>
    
    <div id="flash" class="flash">
      <%= render "shared/flash" %>
    </div>

    <div class="background-main">
      <%= yield %>
      <%= render 'shared/contact' %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
